# This workflow will be triggered if there will be changes to aws-lambda-java-events
# package and it builds the package and the packages that depend on it.

name: Java CI aws-lambda-java-events

on:
  push:
    branches: [ main ]
    paths:
    - 'aws-lambda-java-events/**'
  pull_request:
    branches: [ '*' ]
    paths:
    - 'aws-lambda-java-events/**'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 1.8
      uses: actions/setup-java@v3
      with:
        java-version: 8
        distribution: corretto
    
    # Install base module
    - name: Install events with Maven
      run: mvn -B install --file aws-lambda-java-events/pom.xml

    # Package modules that depend on base module
    - name: Package serialization with Maven
      run: mvn -B package --file aws-lambda-java-serialization/pom.xml
    - name: Package events-sdk-transformer with Maven
      run: mvn -B package --file aws-lambda-java-events-sdk-transformer/pom.xml

