# This workflow will be triggered if there will be changes to aws-lambda-java-tests
# package and it builds the package and the packages that depend on it.

name: Java CI aws-lambda-java-tests

on:
  push:
    branches: [ main ]
    paths:
      - 'aws-lambda-java-tests/**'
  pull_request:
    branches: [ '*' ]
    paths:
      - 'aws-lambda-java-tests/**'
      - '.github/workflows/aws-lambda-java-tests.yml'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Set up JDK 1.8
      uses: actions/setup-java@v4
      with:
        java-version: 8
        distribution: corretto
    
    # Install base module
    - name: Install events with Maven
      run: mvn -B install --file aws-lambda-java-events/pom.xml
    - name: Install serialization with Maven
      run: mvn -B install --file aws-lambda-java-serialization/pom.xml

    # Package target module
    - name: Package tests with Maven
      run: mvn -B package --file aws-lambda-java-tests/pom.xml
    
